@import 'Configs/colors.scss';

.nav{
  font-size: 1.5rem;
  font-weight: 600;
  .root{
    padding-bottom: 10PX;
    
    .wrapper{
      display: flex;
      justify-content: space-between;
      align-items: center;
      transition: background-color 0.4s;
      
      &:hover{
        background: $POINT_COLOR;
        transition: 0.4s;
      }

      .file{
        cursor: pointer;
      }

      .file-input{
        position: absolute;
        left: -9999px;
        opacity: 0;
      }
    }

    .items-wrapper{
      height: 0;
      overflow: hidden;
      transition: 0.5s;
      
      .items{
        display: flex;
        align-items: center;
        height: 40px;
      }
    }
  }

  .icon{
    margin-right: 5px;
    
    &:hover{
      cursor: pointer;
    }
  }
}
